In [5]:
'''Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple          '''

mixed_data = ("Hello, world!", [1, 2, 3, 4, 5], 3.14, (10, 20, 30))
for i in mixed_data :
    print(type(i))

<class 'str'>
<class 'list'>
<class 'float'>
<class 'tuple'>

In [32]:
''' Q2. Given are some following variables containing data:
(i) string
(ii) list
(iii) float
(iv) tuple    '''

# str
var1 = ' '
# str
var2 = '[ DS , ML , Python]'
    # list
var3 = [ 'DS' , 'ML' , 'Python' ]
 #float
var4 = 1.

List=[var1,var2,var3,var4]
for i in List :
    print(type(i))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'float'>

In [34]:
'''' Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **                  '''

result = 10 / 2
print(result) 

remainder = 17 % 5
print(remainder) 

result = 15 // 4
print(result) 

result = 2 ** 3
print(result)

5.0
2
3
8

In [39]:
''' Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type. '''

my_list = [1, "apple", 3.14, True, [2, 4, 6], "banana", (10, 20), {"name": "John", "age": 30}, None, False]

for item in my_list:
    print(f"Element: {item} | Data Type: {type(item)}")

Element: 1 | Data Type: <class 'int'>
Element: apple | Data Type: <class 'str'>
Element: 3.14 | Data Type: <class 'float'>
Element: True | Data Type: <class 'bool'>
Element: [2, 4, 6] | Data Type: <class 'list'>
Element: banana | Data Type: <class 'str'>
Element: (10, 20) | Data Type: <class 'tuple'>
Element: {'name': 'John', 'age': 30} | Data Type: <class 'dict'>
Element: None | Data Type: <class 'NoneType'>
Element: False | Data Type: <class 'bool'>

In [40]:
''' Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible. '''

A = int(input("Enter the dividend (A): "))
B = int(input("Enter the divisor (B): "))

if B == 0:
    print("Cannot divide by zero.")
else:
    quotient = 0
    while A >= B:
        A -= B
        quotient += 1
    
    print(f"{A} cannot be divided further.")
    print(f"{B} divides {A + B * quotient} {quotient} times.")

Enter the dividend (A):  10
Enter the divisor (B):  5

0 cannot be divided further.
5 divides 10 2 times.

In [ ]:
''' Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not. '''

my_list = [12, 7, 18, 9, 5, 27, 30, 14, 21, 6,
           33, 42, 8, 16, 25, 36, 48, 11, 39, 22,
           4, 13, 20, 45, 10]

for num in my_list:
    if num % 3 == 0:
        print(f"{num} is divisible by 3")
    else:
        print(f"{num} is not divisible by 3")

In [3]:


# Examples of immutable data types in Python include:

x = 5
y = x  # y now holds the value 5, but x and y are separate instances
y = y + 1  # y is updated to 6, but x remains 5
print(x)

a = 3.14
b = a  # b now holds the value 3.14, but a and b are separate instances
b = b + 1.0  # b is updated to 4.14, but a remains 3.14
print(a)

name = "Alice"
new_name = name.upper()  # Creates a new string "ALICE", original "name" remains "Alice"
print(name)

# Examples of mutable data types in Python include:

numbers = [1, 2, 3]
numbers.append(4)  # Modifies the original list by adding 4
print(numbers)


person = {"name": "John", "age": 30}
person["age"] = 31  # Modifies the age value in the dictionary
print(person)

my_set = {1, 2, 3}
my_set.add(4)  # Modifies the original set by adding 4
print(my_set)

5
3.14
Alice
[1, 2, 3, 4]
{'name': 'John', 'age': 31}
{1, 2, 3, 4}